*, *::before, *::after {
    box-sizing: border-box;
}

:root {

}

 body {
    
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 209, 241)

}

body.correct:focus {
    background-color: green;
}

body.wrong:focus {
    background-color: red;
}

.container {
    width:800px;
    max-width: 80%;
    border-radius: 5px;
    margin:10em auto;
    padding:10px;
} 


.btn {
    width:100px;
    padding:10px;
    border-radius:10px;
    background-color: rgb(138, 162, 185);
    color:white;
    border-style:none;  
  }
  
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }

.btn {
    border-style: solid;
    border:darkblue;
   color: white;
}  

.btn:hover {
    color:black;
  }

  .correct:focus {
    background-color: green;
    color:white;
  }

  .wrong:focus {
    background-color: red;
    color: white;
  }

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
display: flex;
justify-content: center;
align-items: center;    
}

.hide {
    display: none;
}